

<!-- (submit)="formSubmitHandler($event)"  -->
<form action="form.php" method="get" 

>
    <div class="mb-3">
        <label for="name" class="form-label">
            Name:
        </label>
        <input type="name" 
        class="form-control"
        id="name" 
        name="name"
          />

        <p>Eingegebene name:  </p>

        <label for="kreditLimit" class="form-label">
            kreditLimit:
        </label>
        <input type="kreditLimit" 
        class="form-control"
        id="kreditLimit" 
        name="kreditLimit"
          />

        <p>Eingegebene kreditLimit:  </p>

        <button 
            class="btn btn-primary me-1"
            type="submit"
            >
            Speichern
        </button> 
    
    </div>
</form>